DB_URL=jdbc:postgresql://localhost:5433/replime
DB_USERNAME=postgres
DB_PASSWORD=change-me

POSTGRES_DB=replime
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5433

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

JWT_SECRET_KEY=change-me

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
YOUTUBE_API_KEY=

X_INTERNAL_TOKEN=
